.btn {
  border: none;
  padding: calc(var(--base-padding) * 1.6) calc(var(--base-padding) * 2);
  border-radius: calc(var(--base-br) * 0.15);
  font-size: calc(var(--base-fs) * 1.2);
  font-family: inherit;
  background-color: var(--btn-bg);
  color: var(--btn-text);
  line-height: calc(var(--base-lh) * 0.85);
  transition: transform 200ms ease-in-out, box-shadow 200ms ease-in-out;

  &:hover {
    cursor: pointer;
    transform: translatey(-5px);
    box-shadow: 3px 5px 5px hwb(var(--shadow) / 0.5);
  }

  &:focus {
    transform: translatey(-2px);
    box-shadow: 2px 3px 4px hwb(var(--shadow) / 0.35);
  }
}

.primary-btn {
  --btn-bg: var(--primary);
  --btn-text: var(--active);
}

.secondary-btn {
  --btn-bg: var(--disable);
  --btn-text: var(--active);
}
