.btn {
  border: none;
  padding: calc(var(--base-padding) * 1.6) calc(var(--base-padding) * 2);
  border-radius: calc(var(--base-br) * 0.15);
  font-size: calc(var(--base-fs) * 1.2);
  font-family: inherit;
  background-color: var(--btn-bg);
  color: var(--btn-text);
  line-height: calc(var(--base-lh) * 0.9);

  &:hover {
    cursor: pointer;
  }

  &:focus {
    outline: 2px solid var(--btn-bg);
    outline-offset: 0.15em;
  }
}

.primary-btn {
  --btn-bg: var(--primary);
  --btn-text: var(--tertiary);
}

.secondary-btn {
  --btn-bg: var(--disable);
  --btn-text: var(--active);
}
