.card {
  padding: calc(var(--base-padding) * 3) calc(var(--base-padding) * 2);
  border-radius: calc(var(--base-br) * 0.2);
  background-color: var(--card-bg);
}

.about-card {
  --card-bg: var(--dull);
  width: 300px;
  box-shadow: 0 0 15px hwb(var(--shadow) / 0.15);
  transition: box-shadow 300ms ease-in-out;

  &:hover {
    box-shadow: 0 8px 10px hwb(var(--shadow) / 0.3);
  }
}
