.about-wrapper {
  background-color: var(--active);
}

.about-header {
  --header-bg: url("https://ik.imagekit.io/rahulbaran/school-site/about-page-images/tr:h-250/fourth.jpg");
}

.about-container {
  padding: calc(var(--base-padding) * 8) calc(var(--base-padding) * 4);
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: auto;
  gap: calc(var(--base-gap) * 4) calc(var(--base-gap) * 2);
  align-content: start;
  align-items: start;

  @media screen and (width > 48em) {
    grid-template-columns: 3fr 1.5fr;
    grid-template-areas: "content imgs";
  }

  @media screen and (width > 62em) {
    grid-template-columns: 3.5fr 1fr;
  }
}

.about-imgs-section {
  background-color: var(--dull);
  padding: var(--base-padding);
  display: grid;
  grid-template-columns: repeat(2, minmax(145px, 50vw));
  grid-auto-rows: auto;
  gap: var(--base-gap);
  place-content: start center;

  img {
    width: 100%;
  }

  @media screen and (width > 48em) {
    grid-area: imgs;
    grid-template-columns: 1fr;
  }
}

.about-content-section {
  p {
    &:not(:last-of-type) {
      margin-block-end: calc(var(--base-margin) * 2.5);
    }

    @supports selector(:has(ol) ol) {
      &:has(ol) ol {
        margin-block-start: calc(var(--base-margin) * 1.25);
        list-style-position: inside;
        text-indent: calc(var(--base-margin) * 2);
      }
    }

    @supports not selector(:has(ol) ol) {
      & ol {
        margin-block-start: calc(var(--base-margin) * 1.25);
        list-style-position: inside;
        text-indent: calc(var(--base-margin) * 2);
      }
    }
  }
}
