.academics-wrapper {
  background-color: var(--active);
}

.academics-header {
  --header-bg: url("https://ik.imagekit.io/rahulbaran/school-site/about-page-images/tr:h-250/second.jpg");
}

.academics-container {
  padding: calc(var(--base-padding) * 8) calc(var(--base-padding) * 4);

  h2 {
    font-size: calc(var(--base-fs) * 2);
    font-weight: var(--fw-xbold);
    margin-block-end: calc(var(--base-margin) * 5);
  }

  h2,
  h3 {
    background-image: linear-gradient(
      to right,
      var(--primary),
      var(--secondary),
      var(--disable)
    );
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.academics-cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20em, 1fr));
  grid-auto-rows: auto;
  gap: calc(var(--base-gap) * 6) calc(var(--base-gap) * 2);
}

.academics-card {
  --card-bg: var(--tertiary);
  box-shadow: var(--x-offset, 0) var(--y-offset, 0) var(--blur, 10px)
    hwb(var(--shadow) / var(--alpha, 0.3));
  transition: box-shadow 200ms ease-in-out;

  &:hover {
    --x-offset: 4px;
    --y-offset: 8px;
    --blur: 3px;
    --alpha: 0.25;
  }

  img {
    block-size: 8em;
    aspect-ratio: 1;
  }

  h4 {
    font-size: calc(var(--base-fs) * 1.3);
    font-weight: var(--fw-semi);
    background-image: linear-gradient(
      to right,
      var(--disable),
      var(--secondary),
      var(--primary)
    );
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  p {
    margin-block-start: var(--base-margin);
    font-size: var(--base-fs);
    color: var(--primary);
  }
}

.features-heading {
  margin-block: calc(var(--base-margin) * 7) calc(var(--base-margin) * 4);
  font-size: calc(var(--base-fs) * 1.6);
}

.academics-features-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: calc(var(--base-gap) * 2);

  .feature {
    img {
      width: 1.8em;
      height: 1.8em;
    }
  }

  @media screen and (width > 48em) {
    grid-template-columns: repeat(2, 1fr);
  }
}
