.contact-wrapper {
  background-color: var(--active);
}

.contact-header {
  --header-bg: url("https://ik.imagekit.io/rahulbaran/school-site/contact/contact-header.jpg");
}

.contact-info-wrapper {
  padding-block-start: calc(var(--base-padding) * 8);
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: auto;
  grid-gap: calc(var(--base-gap) * 7) calc(var(--base-gap) * 4);

  h2 {
    background-image: linear-gradient(
      to right,
      var(--primary),
      var(--secondary),
      var(--disable)
    );
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: var(--fw-semi);
    margin-block-end: var(--base-margin);
  }

  .contact-info-container {
    justify-self: start;
    padding-inline: calc(var(--base-padding) * 4);
  }

  // * Media queries
  @media screen and (width > 48em) {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "main aside" "map map";

    .contact-info-container {
      grid-area: main;
    }

    .contact-form-container {
      grid-area: aside;
    }

    .map-container {
      grid-area: map;
    }
  }

  @media screen and (width > 62em) {
    grid-template-columns: 1.25fr 0.15fr 1fr;
    grid-template-areas: "main . aside" "map map map";
    grid-column-gap: 0;
  }
}

.contact-medium-container {
  margin-block-start: calc(var(--base-margin) * 2);

  :is(a, address) i {
    color: var(--disable);
    font-size: calc(var(--base-fs) * 1.25);
  }

  a:hover {
    opacity: 0.75;
  }
}

.contact-form-container {
  padding-inline: calc(var(--base-padding) * 4);

  .form-group {
    margin-block-end: var(--base-margin);
  }

  label {
    line-height: calc(var(--base-lh) * 0.75);
  }

  :where(input, textarea) {
    font-family: inherit;
    font-size: calc(var(--base-fs) * 1.1);
    padding: calc(var(--base-padding) * 1.5);
    border-radius: calc(var(--base-br) * 0.2);
    border: 1px solid var(--tertiary);
    color: var(--primary);
  }

  textarea {
    resize: vertical;
  }

  button {
    margin-block-start: var(--base-margin);
    padding-block: calc(var(--base-padding) * 1.25);
  }
}

/* map container */
.map-container {
  iframe {
    width: 100%;
    display: block;
  }
}
