@use "../abstracts/breakpoint" as a;

.slider-container {
  width: 100%;
  max-height: 100vh;
  position: relative;
  overflow: hidden;

  img {
    width: 100%;
    max-height: 100vh;
    object-fit: cover;
  }

  button {
    position: absolute;
    top: 50%;
    translate: 0 -50%;
    background-color: transparent;
    border: none;
    transition: opacity 100ms ease-in-out;

    span {
      font-size: calc(var(--base-fs) * 2.5);
      line-height: calc(var(--base-lh) * 0.5);
      color: var(--dull);
      padding: calc(var(--base-padding) * 0.25) calc(var(--base-padding) * 0.5);
      padding-block-end: calc(var(--base-padding) * 0.5);
      background-color: hwb(var(--shadow) / 0.5);
      border-radius: calc(var(--base-br) * 0.25);
      translate: var(--translate-x);
      transition: translate 150ms ease-in-out;
    }

    &:hover {
      cursor: pointer;
      opacity: 0.6;
    }
  }

  .right-arrow-btn {
    right: 0.5em;
    --translate-x: 50px;
  }

  .left-arrow-btn {
    left: 0.5em;
    --translate-x: -50px;
  }

  &:hover {
    button span {
      translate: 0;
    }
  }

  @include a.breakpoint(large) {
    img {
      animation: animate-img 7000ms ease-in-out infinite alternate-reverse;
    }
  }

  @media (prefers-reduced-motion) {
    img {
      animation-play-state: paused;
    }
  }
}

@keyframes animate-img {
  0% {
    scale: 1;
  }

  100% {
    scale: 1.15;
  }
}

.home-wrapper {
  // * about us
  .about-us-container {
    padding: calc(var(--base-padding) * 8) calc(var(--base-padding) * 4);
    background-color: var(--active);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, auto);
    gap: calc(var(--base-gap) * 8) calc(var(--base-gap) * 2);

    // * media queries
    @include a.breakpoint(large) {
      .about-cards-wrapper {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, auto);
      }
    }

    @media screen and (width > 65em) {
      grid-template-columns: 2fr 1.5fr;
      grid-template-rows: auto;

      .about-card {
        &:nth-of-type(2),
        &:last-of-type {
          justify-self: flex-start;
        }
      }
    }
  }

  .about-cards-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, auto);
    justify-items: center;
    gap: calc(var(--base-gap) * 5) calc(var(--base-gap) * 3);
  }

  .about-card {
    h4 {
      font-size: calc(var(--base-fs) * 1.35);
      font-weight: var(--fw-semi);
    }

    img {
      width: 8em;
      height: 8em;
    }
  }

  .about-us-content {
    h1 {
      color: var(--secondary);
      margin-block-end: var(--base-margin);
    }
  }

  .know-more-btn {
    margin-block-start: var(--base-margin);
  }
}
