@use "../abstracts/breakpoint" as a;

.slider-container {
  width: 100%;
  max-height: 100vh;
  position: relative;
  overflow: hidden;

  img {
    width: 100%;
    max-height: 100vh;
    object-fit: cover;
  }

  button {
    position: absolute;
    top: 50%;
    translate: 0 -50%;
    background-color: transparent;
    border: none;
    transition: opacity 100ms ease-in-out;

    span {
      font-size: calc(var(--base-fs) * 2.5);
      line-height: calc(var(--base-lh) * 0.5);
      color: var(--dull);
      padding: calc(var(--base-padding) * 0.25) calc(var(--base-padding) * 0.5);
      padding-block-end: calc(var(--base-padding) * 0.5);
      background-color: hwb(var(--shadow) / 0.5);
      border-radius: calc(var(--base-br) * 0.25);
      translate: var(--translate-x);
      transition: translate 150ms ease-in-out;
    }

    &:hover {
      cursor: pointer;
      opacity: 0.6;
    }
  }

  .right-arrow-btn {
    right: 0.5em;
    --translate-x: 50px;
  }

  .left-arrow-btn {
    left: 0.5em;
    --translate-x: -50px;
  }

  &:hover {
    button span {
      translate: 0;
    }
  }

  @include a.breakpoint(large) {
    img {
      animation: animate-img 7000ms ease-in-out infinite alternate-reverse;
    }
  }

  @media (prefers-reduced-motion) {
    img {
      animation-play-state: paused;
    }
  }
}

@keyframes animate-img {
  0% {
    scale: 1;
  }

  100% {
    scale: 1.15;
  }
}

.home-wrapper {
  // * about us
  .about-us-container {
    padding: calc(var(--base-padding) * 10) calc(var(--base-padding) * 4);
    background-color: var(--active);
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
    gap: calc(var(--base-gap) * 8) calc(var(--base-gap) * 3);

    @media screen and (width > 65em) {
      grid-template-columns: 2fr 1.5fr;
    }
  }

  .about-cards-wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
    justify-items: center;
    gap: calc(var(--base-gap) * 5);

    @include a.breakpoint(large) {
      grid-template-columns: repeat(2, 1fr);

      .about-card {
        &:first-of-type,
        &:nth-of-type(3) {
          justify-self: end;
        }

        &:nth-of-type(2),
        &:last-of-type {
          justify-self: start;
        }
      }
    }
  }

  .about-card {
    h4 {
      font-size: calc(var(--base-fs) * 1.35);
      font-weight: var(--fw-semi);
      background-image: linear-gradient(
        to right,
        var(--disable),
        var(--secondary),
        var(--primary)
      );
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    img {
      width: 8em;
      height: 8em;
    }
  }

  .about-us-content {
    h1 {
      color: var(--secondary);
      margin-block-end: var(--base-margin);
      background-image: linear-gradient(
        to left,
        var(--primary),
        var(--secondary)
      );
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  .know-more-btn {
    margin-block-start: var(--base-margin);
  }

  // * notice board
  .notice-board-container {
    background-color: var(--dull);
    padding: calc(var(--base-padding) * 10) calc(var(--base-padding) * 4);

    h2 {
      text-align: center;
      margin-block-end: calc(var(--base-margin) * 2);
      font-size: calc(var(--base-fs) * 2);
      background-image: linear-gradient(
        to left,
        var(--primary),
        var(--secondary)
      );
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    .notice-wrapper {
      position: relative;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(300px, 400px));
      justify-content: center;
      gap: calc(var(--base-gap) * 3);
    }

    .notice {
      position: sticky;
      top: var(--top);
      background-color: var(--active);
      padding: calc(var(--base-padding) * 2.5) calc(var(--base-padding) * 2);
      border-radius: calc(var(--base-br) * 0.15);
      box-shadow: 0 0 3px hwb(var(--shadow) / 0.1);
      border: 1px dashed var(--disable);

      &:first-of-type {
        --top: 1em;
      }

      &:nth-of-type(2) {
        --top: 2em;
      }

      &:nth-of-type(3) {
        --top: 3em;
      }

      &:nth-of-type(4) {
        --top: 4em;
      }

      &:nth-of-type(5) {
        --top: 5em;
      }

      p {
        font-size: calc(var(--base-fs) * 1.05);
      }
    }

    // * media queries
    @media screen and (width > 55.5em) {
      .notice {
        &:nth-of-type(2) {
          --top: 1em;
        }

        &:nth-of-type(3),
        &:nth-of-type(4) {
          --top: 2em;
        }

        &:nth-of-type(5),
        &:last-of-type {
          --top: 3em;
        }
      }
    }

    @media screen and (width > 72em) {
      .notice {
        &:nth-of-type(3) {
          --top: 1em;
        }

        &:nth-of-type(5),
        &:last-of-type {
          --top: 2em;
        }
      }
    }
  }

  // * school info
  .school-info-container {
    background-color: var(--active);
    padding: calc(var(--base-padding) * 10) calc(var(--base-padding) * 4);
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
    align-content: flex-start;
    gap: calc(var(--base-gap) * 5);

    img {
      width: min(540px, 100%);
      margin-inline: auto;
      box-shadow: 0 0 15px hwb(var(--shadow) / 0.075);
      border-radius: calc(var(--base-br) * 0.2);
    }

    h2 {
      margin-block-end: calc(var(--base-margin) * 2);
      color: var(--secondary);
      font-size: calc(var(--base-fs) * 2);
      background-image: linear-gradient(
        to left,
        var(--primary),
        var(--secondary)
      );
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    .school-info p {
      &:not(:last-of-type) {
        margin-block-end: calc(var(--base-margin) * 1.5);
      }
    }

    @media screen and (width > 62em) {
      grid-template-columns: repeat(2, 1fr);

      .school-info {
        grid-area: 1 / 1;
      }

      img {
        width: 100%;
      }
    }
  }
}
