@use "../abstracts/breakpoint" as a;

html {
  box-sizing: border-box;
  min-block-size: 100vh;
  font-size: 75%;

  @include a.breakpoint(medium) {
    font-size: 87.5%;
  }
  @include a.breakpoint(large) {
    font-size: 100%;
  }
  @include a.breakpoint(xlarge) {
    font-size: 112.5%;
  }
  @include a.breakpoint(xxlarge) {
    font-size: 125%;
  }

  @media (prefers-reduced-motion: no-preference) {
    scroll-behavior: smooth;
  }
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-size: var(--base-fs);
  font-weight: var(--fw-regular);
  font-family: var(--fs-hubot-sans);
  line-height: var(--base-lh);
  background-color: var(--tertiary);
  background-attachment: fixed;
}
